@import "./../../scss/component";
@import "./../../scss/_common.scss";
@import "./../../scss/mixin";
@import './mixin-nav_menu';


.left, .right {
    width: 50%;

    @include mobile {
        width: 100%;
    }
}

img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: contain;
}

aside {
    @include nav_menu();
}

.content1 {
    @include scroll-bg("wi_bg1.jpg", center);

    .max {
        display: flex;
        flex-direction: row-reverse;

        @include mobile {
            align-items: flex-end;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .img-box {
                width: 30%;
            }

            p {
                text-align: center;
                color: darken($color: $orange, $amount: 8);
                font-weight: 600;
            }

            @include mobile {
                position: absolute;
                padding-bottom: 40px;

                p {
                    color: #fff;
                }
            }
        }
    
        .right {
            height: 100vh;
            @include scroll-bg ("wi_01.jpg", right center);
            background-color: rgb(66, 148, 148);

            @include mobile {
            }
        }
    }
}

.content2 {
    background: $orange;

    .left {
        height: 100vh;
        @include scroll-bg("wi_02.jpg", center top);
    }

    .txt {
        position: absolute;
        right: -10px;
        top: 35vh;
        text-align: right;
        color: #fff;
        padding-right: 14%;
        border-right: 10px double #fff;


        h2 {
            font-size: 6vw;
        }

        h5 {
            padding: 0.4em 0;
        }

        span {
            font-weight: 100;
            padding-top: 1em;
        }

        @include wide {
            h2 {font-size: 7em;}
        }

        @include mobile {
            h2 {letter-spacing: unset;}
            h5 {
                font-size: 1rem;
                letter-spacing: unset;
            }

        }
    
    }

    .img-box {
        position: absolute;
        right: 80px;
        top: 80px;
        width: 160px;
        height: 160px;

        img {
            animation: rotate_left 6s linear infinite;
            transform-origin: 50% 50%;
        }

        @include mobile {
            width: 100px;
            height: 100px;
        }
    }

    .dot_arr {
        position: absolute;
        left: 58%;
        bottom: 20vh;
        width: 115px;
        height: 115px;
        img {
            width: 100%;
        }
    }

    @keyframes band {
        from{left: 0;}
        to{left: -220px;}
    }

    .band {
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(100vw + 220px);
        height: 54px;
        background: url(./../images/band_wi.png) repeat-x;
        animation: band 1s linear infinite;
    }
}

.content3 {
    background-color: $pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content4 {
    background: url(./../images/wi_04_bg.jpg) repeat-x top;

    .max {
        float: right;
        @include scroll-bg ("wi_04.png", 80% top);
        .insert {
            position: absolute;
            top: 50vh;
            right: 40%;
            text-align: right;
            p {
                font-size: 1.2em;
                font-weight: 600;
                white-space: pre-line;
            }

            .title {
                padding: 1em 0;
                margin: 1em 0;
                border-bottom: 1px solid #000;
            }

            @include tablet {
                right: 30%;
                top: 60%;
                width: 66%;
            }

            @include mobile {
                
                h4{
                    font-size: 2rem;
                }
                p {
                    font-size: 0.8rem;
                    white-space: normal;
                }
            }
        }
    }
}

.content5 {
    background-color: $orange;

    .max {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;

        @include mobile {
            h3 {
                white-space: pre-line;
                line-height: 2.8rem;
            }
        }

        p {
            padding: 1em;
            margin-bottom: 1em;
        }

        .product {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vw;

            @include tablet {
                flex-wrap: wrap;
                height: 30%;
                // background-color: aqua;
            }

            .item {
                position: relative;
                width: 20vw;
                max-width: 350px;
                height: 40vh;
                overflow: hidden;

                @keyframes change {
                    to {
                        top: -200%;
                    }
                }

                li {
                    position:relative;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;

                    animation: change 1s infinite alternate steps(2);

                    img {
                        object-fit: contain;
                    }
                }

                @include tablet {
                    width: 30%;
                    max-width: unset;
                    height: 90%;
                }

                @include mobile {
                    height: 70%;
                }
            }
        }
    }
}

.content6 {
    background-color: $orange;

    .max {
        @include scroll-bg ("wi_06.jpg", right center);

        .insert {
            position: absolute;
            bottom: 4vh;
            right: 56%;
            width: 24%;
    
            p {
                padding: 4vh 0;
                text-align: justify;
            }
        }
        
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .insert {
                position: static;
                width: 50vw;
                margin-bottom: 5%;

                p {
                    padding: 2vh 0;
                }

                .brand {
                    width: 100%;
                    height: 20vh;
                    border: #000 2px solid;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        @include mobile {
            .insert {
                width: 70vw;
            
                p {
                    font-size: 0.8rem;
                }
    
                .brand {
                    height: 20vh;
                }
            }
        }
    }
}

.content7 {
    position: relative;
    background: url(./../images/wi_logo_line.svg) no-repeat center ;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;

    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 30vw;
        height: 50vh;
        gap: 50px;

        li {
            width: 150px;
            height: 150px;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        @include tablet {
            width: 70%;
            gap: 5%;

            li {
                width: 100%;
                height: 100%;
            }
        }

        @include mobile {
            width: 300px;
            height: 300px;
            gap: 0;
            li {
                padding:10px
            }

        }
    }
    
}

